.bestseller {
  @media (min-width: $desktop-width) {
    width: 785px;
  }
}

.bestseller__wrapper {
  position: relative;
  outline: size(1px) solid $background-catalog;
  border-radius: size(10px);
}

.bestseller__card {
  @media (min-width: $desktop-width-before) {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 101;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 101;
  }
}
