.category-list {
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: size(10px);
  overflow-x: auto;

  @media (min-width: $tablet-width) {
    gap: 3px;
    justify-content: space-evenly;
  }

  @media (min-width: $desktop-width) {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.category-list__item {
  width: size(105px);
  min-height: 120px;
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    width: size(105px);
  }

  @media (min-width: $desktop-width) {
    width: 175px;
    min-height: 200px;
  }
}

