.form__caption {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0;
    font-weight: 500;
    font-size: size(12px);
    letter-spacing: 0.01em;
    color: $background-bullet;
    margin-bottom: size(20px);
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
    margin-bottom: 0;
  }
}

.form__footer-form {
  margin-bottom: size(60px);

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: size(100px);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 141px;
  }
}

