.is-animated {
  opacity: 0;
  transform-origin: center;
  transform: scale(0.9);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s ease-in-out;
  overflow: hidden;

  &--visible {
    opacity: 1;
    transform: scale(1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s ease-in-out;
  }
}

