.menu-secondary {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  font-weight: 600;
  font-size: size(12px);
  text-transform: uppercase;
  text-align: center;
  color: var(--background-bullet);

  @media (max-width: $tablet-width-only) {
    display: block;
  }

  @media (min-width: $desktop-width-before) {
    display: inline-flex;
    gap: 0;
    font-size: size(9px);
  }

  @media (min-width: $desktop-width) {
    gap: 0;
    max-width: 214px;
  }
}

.menu-secondary__text {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.menu-secondary__item {
  min-width: 80px;
  min-height: 120px;

  @media (max-width: $tablet-width-only) {
    min-width: 80px;
    min-height: unset;
    padding-top: 12px;
    padding-bottom: 8px;

    &:not(:last-child) {
      border-bottom: size(1px) solid var(--color-primary);
    }
  }

  @media (min-width: $desktop-width-before) {
    min-width: size(100px);
    min-height: size(60px);
    flex-wrap: wrap;
    display: flex;
    max-width: 150px;
  }

  @media (min-width: $desktop-width) {
    width: 107px;
  }
}

.menu-secondary__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  transition: color 0.3s ease;

  @media (max-width: $tablet-width-only) {
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: var(--color-primary);
  }

  @media (min-width: $desktop-width-before) {
    min-width: size(100px);
    min-height: size(60px);
    align-items: center;
    justify-content: center;
    padding: 0 10px;
  }

  @media (min-width: $desktop-width) {
    font-size: 12px;
    padding: 0 15px;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    color: $accent-color;
    outline: none;
    transition: color 0.3s ease;
  }

  &:active {
    color: $background-bullet;
    transition: color 0.3s ease;
  }

  &--disabled {
    color: $background-disabled;
    pointer-events: none;
  }
}
