.products-caption {
  margin: 0;
  max-width: 225px;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--color-primary);
}

.products-caption__break {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
