.profile-menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.profile-menu__item {
  font-weight: 600;
  font-size: size(12px);
  line-height: size(14px);
  text-transform: uppercase;
  color: var(--color-primary);
  padding-top: size(9px);
  padding-bottom: size(6px);

  &:not(:last-child) {
    border-bottom: size(1px) solid var(--color-primary);
  }
}

.profile-menu__link {
  transition: color 0.3s ease;

  &:hover,
  &:focus,
  &:focus-visible {
    color: $accent-color;
    transition: color 0.3s ease;
    outline: none;
  }

  &:active {
    color: $background-bullet;
    transition: color 0.3s ease;
  }

  &--disabled {
    color: $background-disabled;
    pointer-events: none;
  }
}
