.profile__link {
  @media (max-width: $tablet-width-only) {
    display: block;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: var(--color-primary);
    padding-bottom: 8px;
    border-bottom: 1px solid var(--color-primary);
    transition: color 0.3s ease;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    color: $accent-color;
    transition: color 0.3s ease;
    outline: none;
  }

  &:active {
    color: $background-bullet;
  }

  &--disabled {
    color: $background-disabled;
    pointer-events: none;
  }
}
