.promo-slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}
