.promo {
  overflow: hidden;
  padding-top: 20px;

  @media (min-width: $desktop-width) {
    padding: 19px 0 0;
  }
}

.promo__wrapper {
  max-width: 1540px;
  margin: 0 auto;
  padding: 0 size(10px);

  @media (min-width: $tablet-width) {
    padding: 0 size(20px);
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.promo__slider-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 0;
  width: 100%;
  z-index: 1;
  display: flex;

  @media (min-width: $tablet-width) {
    grid-template-columns: 50% 50%;
    gap: size(1px);
    display: flex;
    justify-content: space-evenly;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 760px 760px;
    gap: 20px;
    justify-content: space-between;
  }
}

.promo__slider-item {
  min-height: size(300px);
  min-width: 370px;

  @media (min-width: $vp-580) {
    min-height: size(200px);
  }

  @media (min-width: $tablet-width) {
    min-height: size(300px);
  }

  @media (min-width: $desktop-width) {
    min-height: 440px;
  }
}

.promo__slider-card {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 0 size(18px);
  grid-template-rows: min-content 1fr auto;
  align-items: start;
  padding: size(17px) size(20px) size(15px);
  border-radius: size(10px);
  min-height: size(300px);
  height: 100%;

  .promo-card__text {
    transition: transform 0.3s ease;
  }

  &:focus-visible {
    outline: none;
  }

  &:hover .promo-card__text,
  &:focus .promo-card__text,
  &:focus-visible .promo-card__text {
    outline-offset: -2px;
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }

  @media (min-width: $vp-580) {
    min-height: size(200px);
  }

  @media (min-width: $tablet-width) {
    min-height: size(300px);
  }

  @media (min-width: $desktop-width) {
    min-height: 440px;
    padding: 20px 20px 30px 22px;
  }
}

.promo__slider-card--dark {
  background-color: $color-primary;
  background-image: url("../img/promo/promo-background-desktop-1@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: size(300px);
  color: $socials-color;

  @media (resolution >= 2dppx) {
    background-image: url("../img/promo/promo-background-desktop-1@2x.jpg");
  }

  @media (min-width: $vp-580) {
    min-height: size(200px);
  }

  @media (min-width: $tablet-width) {
    min-height: size(300px);
  }

  @media (min-width: $desktop-width) {
    min-height: 440px;
  }
}

.promo__slider-card--light {
  color: $color-primary;
  background-color: $background-promo-light;
  min-height: size(300px);
  width: 100%;
  background-image: url("../img/promo/promo-background-desktop-2@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;


  @media (resolution >= 2dppx) {
    background-image: url("../img/promo/promo-background-desktop-2@2x.jpg");
  }

  @media (min-width: $vp-580) {
    min-height: size(200px);
  }

  @media (min-width: $tablet-width) {
    min-height: size(300px);
  }

  @media (min-width: $desktop-width) {
    min-height: 440px;
  }
}

.promo__swiper-pagination {
  position: absolute;
  bottom: size(20px);
  z-index: 10;
  left: calc(50% - size(16px));
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
