.promo-card {
  width: size(300px);
  min-width: 100%;

  @media (min-width: $tablet-width) {
    width: unset;
    min-width: 50%;
  }

  @media (min-width: $desktop-width) {
    min-width: 49.35%;
  }
}

.promo-card__discount {
  width: size(40px);
  height: size(40px);
  margin-top: size(3px);
  grid-column: 3 / 4;
  grid-row: 1 / 2;


  @media (min-width: $tablet-width) {
    grid-column: 3 / 4;
  }

  @media (min-width: $desktop-width) {
    margin-top: -9px;
    margin-right: -11px;
  }
}

.promo-card__text {
  margin: size(69px) 0 0;
  font-weight: 600;
  font-size: size(50px);
  line-height: size(40px);
  text-transform: uppercase;
  text-align: center;
  color: $accent-color;
  grid-column: 1 / -1;
  padding-bottom: size(50px);
  transform: scale(1);

  @media (min-width: $tablet-width) {
    min-height: 80px;
    padding-bottom: unset;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
    align-self: center;
    min-height: 60px;
    margin: -15px 0 0;
  }

  &--light {
    @media (min-width: $desktop-width) {
      font-weight: 750;
      font-size: 120px;
      line-height: 90px;
      text-transform: uppercase;
      text-align: center;
      color: $accent-color;
      font-variation-settings: "wdth" 10;
      text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
  }
}

.promo-card__quantity {
  margin: 0;
  font-size: size(12px);
  line-height: size(14px);
  font-weight: 500;
  letter-spacing: 0.01em;
  padding-top: size(2px);

  @media (min-width: $desktop-width) {
    font-size: 12px;
  }
}

.promo-card__caption {
  margin: 0;
  font-weight: 500;
  font-size: size(14px);
  line-height: size(17px);
  letter-spacing: 0.01em;
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  @media (min-width: $tablet-width) {
    grid-row: 3 / 4;
    margin: 0 auto;
    grid-column: 1 / -1;
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
  }
}
