.sale {
  padding: 0;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    align-items: start;
  }
}

.sale__wrapper {
  max-width: 1580px;
  outline: size(1px) solid $background-catalog;
  border-radius: size(10px);

  @media (min-width: $desktop-width-before) {
    position: relative;
    width: 100%;
    outline: none;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 100%;
    outline: none;
  }
}

.sale__card {
  z-index: 2;
  grid-column: 1 / -1;
  grid-row: 1 / -1;

  @media (min-width: $desktop-width-before) {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 101;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 101;
  }
}

.sale__slider {
  position: relative;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: 2;
  margin-top: -2px;
}

.sale__swiper-scrollbar {
  display: none;

  @media (min-width: $desktop-width) {
    display: inherit;
  }
}
