.sale-select {
  @media (max-width: $mobile-width-only) {
  &--error {
      outline: 1px solid $accent-color;
      border-radius: size(10px);

      &:hover {
        outline: 1px solid $accent-color;
      }

      .sale-select__screen::after {
        background-color: $background-bullet;
      }
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    max-width: 1550px;
    padding-right: 4px;
    padding-left: 6px;
    padding-bottom: 0;
    align-items: flex-start;
  }

  &--open .products__select-list {
    transform: scaleY(1);
    opacity: 1;
  }

  &:focus-visible {
    outline: none;
  }
}

.sale-select__select-wrapper {
  display: flex;
  align-items: stretch;
  outline: size(1px) solid $background-catalog;
  outline-offset: -1px;
  border-radius: size(10px);
  width: 100%;
  min-height: size(50px);
  font-weight: 600;
  font-size: size(12px);
  line-height: size(14px);
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: size(21px);

  @media (min-width: $vp-700) {
    font-size: size(10px);
    line-height: size(10px);
  }

  @media (min-width: $tablet-width) {
    border: none;
    width: 100%;
    justify-content: space-between;
    gap: 15px;
    outline: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.sale-select__screen {
  position: relative;
  width: size(266px);
  flex-grow: 1;
  min-height: size(48px);
  border-right: size(1px) solid $background-catalog;
  cursor: pointer;
  padding: size(16px) size(50px) size(15px) size(19px);
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &::after {
    content: "";
    display: block;
    width: size(10px);
    height: size(10px);
    mask-image: url("/__spritemap#sprite-select-arrow-view");
    mask-size: size(8px) size(6px);
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--color-primary);
    position: absolute;
    right: size(19px);
    top: size(19px);
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    border-right: unset;

    &::after {
      display: none;
    }
  }

  &:focus-visible,
  &:focus {
    color: $accent-color;
    outline: none;
  }

  &:focus-visible::after,
  &:focus::after {
    transform: rotate(180deg);
    background-color: $accent-color;
  }
}

.sale-select__buttons {
  width: size(98px);
  display: flex;
  padding: size(10px) size(14px) size(8px);
  align-items: center;
  gap: size(9px);

  @media (min-width: $tablet-width) {
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    width: 91px;
    padding: 36px 0 10px 19px;
    justify-content: flex-start;
    gap: 21px;
    margin-bottom: 0;

    &::before {
      width: 21px;
    }

    &::after {
      width: 21px;
    }
  }
}
