.select-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: var(--socials-color);
  border-radius: 10px;

  &--open {
    @media (max-width: $mobile-width-only) {
      position: absolute;
      display: block;
      top: 116px;
      left: 0;
      right: 0;
      z-index: 100;
    }
  }

  @media (min-width: $tablet-width) {
    outline: size(1px) solid $socials-color;
    outline-offset: -1px;
    max-width: size(600px);
    background-color: transparent;
    border-radius: unset;
    flex-grow: 1;
    align-items: stretch;
    animation-name: select-text-visualisation;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-fill-mode: forwards;
  }

  @media (min-width: $desktop-width) {
    max-width: 640px;
    min-height: 80px;
  }
}

.select-list__item {
  &:not(:last-child) {
    border-bottom: size(1px) solid $background-disabled;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    max-width: size(150px);

    &:not(:last-child) {
      border-right: 1px solid $socials-color;
      border-bottom: unset;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 159px;
    min-width: 159px;
  }
}

@keyframes select-text-visualisation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
