.select-button {
  font-family: $font-primary;
  font-weight: 600;
  font-size: size(14px);
  line-height: size(17px);
  color: var(--color-primary);
  display: block;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  padding: size(20px) size(15px);
  border-radius: size(80px);


  @media (min-width: $tablet-width) {
    display: flex;
    padding: size(10px);
    align-items: center;
    justify-content: center;
    min-height: 100%;

    @media (min-width: $desktop-width-before) {
      --transform: scale(0.8);
      --opacity: 0;

      position: relative;
      font-size: size(9px);

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        border-image: linear-gradient(var(--color-primary), var(--color-primary));
        border-style: solid;
        border-width: size(6px);
        opacity: var(--opacity);
        transform: var(--transform);
        transition: transform 0.3s, opacity 0.3s, border-image 0.3s;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $accent-color;
        border-radius: size(80px);
        z-index: -1;
        opacity: var(--opacity);
        transform: var(--transform);
        transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
      }

      &:hover::before,
      &:focus::before,
      &:focus-visible::before,
      &:hover::after,
      &:focus::after,
      &:focus-visible::after {
        opacity: 1;
        transition: transform 0.3s, opacity 0.3s, border-image 0.3s, background-color 0.3s;
        transform: scale(1);
      }
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 100%;
    min-height: 79px;
    font-size: 14px;
    line-height: 14px;
  }

  &:focus,
  &:focus-visible {
    outline: none;
    color: $accent-color;

    @media (min-width: $desktop-width-before) {
      color: $color-white;
    }
  }

  &--current {
    @media (min-width: $desktop-width-before) {
      --transform: scale(1);
      --opacity: 1;

      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-white;
      border-style: solid;

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        border-image: linear-gradient(var(--color-primary), var(--color-primary));
        border-style: solid;
        border-width: size(6px);
        opacity: var(--opacity);
        transform: var(--transform);
        transition: transform 0.3s, opacity 0.3s, border-image 0.3s;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $accent-color;
        border-radius: size(80px);
        z-index: -1;
        opacity: var(--opacity);
        transform: var(--transform);
        transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
      }

      &:focus,
      &:focus-visible {
        color: $color-white;
      }
    }
  }
}
