.slider-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  border-radius: 50%;
  width: size(40px);
  height: size(40px);
  background-color: $color-white;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    border-radius: size(1px);
    height: size(1px);
    width: size(20px);
    background-color: $color-primary;
    position: absolute;
  }

  &::after {
    content: "";
    display: block;
    border-radius: size(1px);
    height: size(1px);
    width: size(20px);
    background-color: $color-primary;
    position: absolute;
    transform: rotate(90deg);
  }

  &--open::after {
    display: none;
  }

  &:hover::before,
  &:hover::after {
    background-color: $accent-color;
  }

  &:active::before,
  &:active::after {
    background-color: $background-bullet;
  }
}
