.tag-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-left: 1px;
}

.tag-list__item {
  @media (min-width: $desktop-width) {
    margin-bottom: 5px;
  }
}
