:root {
  --accent-color: #ff4b41;
  --color-primary: #202020;
  --socials-color: #f0f0f0;
  --color-white: #ffffff;
  --background-promo-light: #f3b5dd;
  --background-catalog: #ebebeb;
  --background-bullet: #999999;
  --background-toggle: #f8f8f8;
  --background-disabled: #ebebeb;
  --background-hover: #e9473e;
}
