@font-face {
  font-family: "Pragmatica";
  font-style: normal;
  font-weight: 400 800;
  font-display: swap;
  src: url("/fonts/pragmatica-next_vf.woff2") format("woff2"), url("/fonts/pragmatica-next_vf.woff") format("woff");
}
