$desktop-width-before: 1024px;
$desktop-width: 1600px;
$mobile-width-only: 919px;
$mobile-width-only: 919px;
$tablet-width-only: 1023px;
$tablet-width: 920px;
$vp-390: 390px;
$vp-920: 920px;
$vp-1440: 1440px;
$vp-580: 580px;
$vp-700: 700px;
$vp-1600: 1600px;

/* Шрифты */
$font-primary: "Pragmatica", "Arial", sans-serif;

/* Размер шрифта */
$fz-default: 12px;
$max-size: 42px;
$max-size-1: 42px;
$max-size-2: 42px;

/* Цвет */
$accent-color: #ff4b41;
$color-primary: #202020;
$socials-color: #f0f0f0;
$color-white: #ffffff;
$background-promo-light: #f3b5bb;
$background-catalog: #ebebeb;
$background-bullet: #999999;
$background-toggle: #f8f8f8;
$background-disabled: #ebebeb;
$background-hover: #e9473e;
