@import "functions";
@import "mixins";
@import "vendor/normalize";
@import "common/custom-variables";
@import "common/variables";
@import "common/global";
@import "common/fonts";
@import "blocks/body";
@import "blocks/button";
@import "blocks/button-favourites";
@import "blocks/discount-mark";
@import "blocks/products-caption";
@import "blocks/format-caption";
@import "blocks/slider-toggle";
@import "blocks/swiper-pagination";
@import "blocks/header";
@import "blocks/header-discount";
@import "blocks/copyright-list";
@import "blocks/menu-primary";
@import "blocks/menu-secondary";
@import "blocks/profile";
@import "blocks/profile-menu";
@import "blocks/rules-list";
@import "blocks/header-nav";
@import "blocks/socials-list";
@import "blocks/theme-switcher";
@import "blocks/logo";
@import "blocks/promo";
@import "blocks/promo-card";
@import "blocks/promo-slider";
@import "blocks/category-list";
@import "blocks/category";
@import "blocks/category-card";
@import "blocks/products-card";
@import "blocks/tag-list";
@import "blocks/tag";
@import "blocks/products-slider";
@import "blocks/products";
@import "blocks/sale";
@import "blocks/sale-slider";
@import "blocks/recommendation-slider";
@import "blocks/sale-select";
@import "blocks/select-list";
@import "blocks/layout-button";
@import "blocks/select-button";
@import "blocks/sale-card";
@import "blocks/bestseller";
@import "blocks/bestseller-slider";
@import "blocks/bestseller-card";
@import "blocks/recommendation";
@import "blocks/recommendation-card";
@import "blocks/footer-menu";
@import "blocks/footer-contacts";
@import "blocks/footer-form";
@import "blocks/footer";
@import "blocks/form";
@import "blocks/email-input";
@import "blocks/design-company";
@import "blocks/nav-footer";
@import "blocks/button-scroll";
@import "blocks/is-animated";
